<center>
<h1>Any!</h1>
<p>
<table>
    <th colspan="5">
        <h3><%= @players[1].name %></h3>
        <%= @players[1].hand %>
        <hr width=100px>
    </th>
    <tr align=center>
        <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td><- Unit number</td>
    </tr>
    <tr>
        <td><img id="b1" src="tile_empty.jpg" alt="b1"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td> <- Bases</td>
    </tr>
    <tr>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td> <- Defenders</td>
    </tr>
    <tr>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
       <td> <- Attackers</td>
    </tr>
    <tr>
    <td colspan="5"><hr width=100px></td>
    </tr>
    <tr>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td> <- Attackers</td>
    </tr>
    <tr>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td> <- Defenders</td>
    </tr>
    <tr>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td><img src="tile_empty.jpg"></td>
        <td> <- Bases</td>
    </tr>
    <tr align=center>
        <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td><- Unit number</td>
    </tr>
    <th colspan="5">
        <hr width=100px>
        <h3><%= @players[0].name %></h3>
        <%= @players[0].hand %>
        <form action="/startturn" method="get">
            <input type="submit" value="Start turn">
        </form>
    </th>
</table>
</p>
</center>
